 <center>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Permisos Usuario </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Permisos Seguridad</button>
    <br> <br>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Mostrar Ambos</button>
</center>

   <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    
                    <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Nombre(s) </th>
                        <th scope="col">Apellido(s</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Parentezco</th>
                        <th scope="col">Tipo vehiculo</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each todosPermisos}}
                        <tr>
                            <th>{{priNombre}} {{segNombre}}</th>
                            <td>{{apellidoPat}} {{apellidoMat}}</td>
                            <td>{{numDocumento}}</td>
                            <td>{{idParentezco}}</td>
                            <td>{{idTipoVehiculo}}</td>
                            <td>{{placa}}</td>
                            <td>{{idEstado}}</td>
                            <td>
                                <button type="button" class="ElBoton btn-light">modificar</button>
                                <button type="button" class="ElBoton btn-danger">Eliminar</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
            <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Clase</th>
                        <th>Cedula</th>
                        <th>Numero celular</th>
                        <th>placa del vehiculo</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ghost</td>
                        <td>The Ghost</td>
                        <td>Propietario</td>
                        <td>112442214</td>
                        <td>321343221</td>
                        <td>kb4gb</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>